
.logo {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    float: left;
    border-radius: 30%;
    position: absolute;
    left:1%;
}
.navbar{
    width: 97%;
    padding: 23px;
    height: 60px;
    background-color:darkslategrey;
}
.navbar a {
    padding-right: 70px;
    padding-left: 50px;
    float: right;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: brown;
    border-color: chocolate;

}
@media screen and (max-width: 600px) {
    .name > p > em {
        font-size: 15px;
    }
    .name > p {
        font-size: 12px;
    }
    .footer {
        font-size: 10px;
    }
    .profile > .profimage {
        width: auto;
        height: auto;
        max-height: 200px;
        max-width: 300px;
    }
    .profile > .profimage2 {
        width: auto;
        height: auto;
        max-height: 100px;
        max-width: 200px;
    }
    .profile > .profimage3 {
        width: auto;
        height: auto;
        max-height: 100px;
        max-width: 200px;
    }
    .profile > .profimage4 {
        width: auto;
        height: auto;
        max-height: 100px;
        max-width: 200px;
    }

}

em,  h2{
    font-size: 40px;
    padding-top: 2%;
    font-family: fantasy;
    color: blue;
    text-decoration: underline;
}
.speciality {
    font-size: 20px;
    position: absolute;
    top:20%;
    padding-top: 5%;
    padding-left: 13%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.profile {
    width: auto;
    height: auto;
}
.profile > .profimage {
    width: auto;
    height: auto;
    max-height: 700px;
    max-width: 750px;
    border-radius: 20%;
    box-shadow: 0px 20px 18px blue;
    margin: 0px 40px 0px 40px;
}
.profile > .profimage2 {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 650px;
    border-radius: 20%;
    box-shadow: 0px 10px 18px grey;
    margin-left: 30px;
    position: absolute;
    top: 30%;
    margin-top: 4%;

}
.profile > .profimage3 {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 750px;
    border-radius: 20%;
    box-shadow: 0px 10px 18px grey;
    margin-left: 110px;
    position: absolute;
    top: 30%;    
    margin-top: 4%;

    
}
.profile > .profimage4 {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 750px;
    border-radius: 20%;
    box-shadow: 0px 10px 18px grey;
    margin-left: 190px;
    position: absolute;
    top: 30%;
    margin-top: 4%;

}

.footer {
    height: 130px;
    margin-left: 60%;
    margin-top: 40px;
}
    
strong {
    color: blue;
}

ol{
    font-weight: 700;
    padding: 10px 0px 10px 80px;
}
ol > li {
    line-height: 30px;
}
.websites {
    position: absolute;
    top: 80%;
    font-size: 20px;
    margin-left:3%;
}
.about_me{
    font-size: 20px;
    height: 200px;
    margin: 40px 0px 40px 0px;
}
.about_me > p  {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

.education > h4 {
    font-size: 20px;
    text-decoration: underline;
}
.education > ul {
    padding: 10px 0px 10px 0px;
}
.skills {
    height: 500px;
    margin: 40px 0px 10px 0px;
}
.skills > h5 {
    font-size: 20px;
    text-decoration: underline;
    padding: 80px 0 10px 0px;
}
.skills > ul {
    font-size: 18px;
    padding: 0px 0px 10px 40px;
}
.skills > ul > li {
    line-height: 25px;
} 
.name {
    height: 200px;
}
.name > .fullname {
    text-align: center;
}
.olist > p  {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}
.education  {
    height: 200px;
    margin: 30px 0px 0px 0px;
}
.education > h4 {
    padding: 20px 0px 10px 0px;
    margin: 0px 0px 0px 0px;

}
.education > ul {
    font-size: 18px;
    padding: 0px 0px 10px 40px;
}
.bgcolor {
    background: linear-gradient(100deg, white 50%, #F6B400 0%);
}